name: Release

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4

      - name: Generate Release Notes
        run: |
          npx github:davegarvey/bubble \
            --latest \
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}